.panel.panel-primary.property(id= id)
  .panel-heading
    .panel-title
      span.signature!= signature
      a.document-link(href= "##{id}")
        span.octicon.octicon-link
      a.document-source(href= srcUrl)
        span.octicon.octicon-file-code
  .panel-body
    != description
    != examples
